<div class="main-container" [formGroup]="form">
  <app-select-file title="Путь к базе предметов" formControlName="pathToDatabaseSchoolSubjects"></app-select-file>

  <mat-form-field>
    <mat-label>
      Команда для генерации pdf
    </mat-label>
    <input matInput type="text" formControlName="commandGeneratePDF" />
    <mat-error *ngIf="form.get('commandGeneratePDF').errors">
      Задайте команду для генерации
    </mat-error>
  </mat-form-field>
</div>

<div class="d-flex justify-content-center mt-3">
  <button mat-raised-button (click)="cancel()">Отмена</button>
  <button class="ml-2" mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Сохранить</button>
</div>
